In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
import pandas as pd
import lib.fetch_SPARQL as fs
import lib.query_helper as qh

In [4]:
# Run main.py before running this cell.
countries = pd.read_csv('../data/current_countries.csv')
countries.head()

,country,iso_3166_1_code,geonamesID,countryLabel
0,http://www.wikidata.org/entity/Q16,CA,6251999.0,Canada
1,http://www.wikidata.org/entity/Q17,JP,1861060.0,Japan
2,http://www.wikidata.org/entity/Q20,NO,3144096.0,Norway
3,http://www.wikidata.org/entity/Q27,IE,2963597.0,Republic of Ireland
4,http://www.wikidata.org/entity/Q28,HU,719819.0,Hungary

In [5]:
countries['country_identifier'] = countries['country'].apply(lambda x: "wd:"+ x.split('/')[-1])
countries.head()

,country,iso_3166_1_code,geonamesID,countryLabel,country_identifier
0,http://www.wikidata.org/entity/Q16,CA,6251999.0,Canada,wd:Q16
1,http://www.wikidata.org/entity/Q17,JP,1861060.0,Japan,wd:Q17
2,http://www.wikidata.org/entity/Q20,NO,3144096.0,Norway,wd:Q20
3,http://www.wikidata.org/entity/Q27,IE,2963597.0,Republic of Ireland,wd:Q27
4,http://www.wikidata.org/entity/Q28,HU,719819.0,Hungary,wd:Q28

In [6]:
%%time
countries_resp = countries['country_identifier'][:20].apply(lambda x: fs.fetch_query(qh.make_subdivision_query(x)))

CPU times: user 149 ms, sys: 5.82 ms, total: 155 ms
Wall time: 3.87 s

^ The above query took 35.7s on my localmachine with 2 mbps mobile data.

^ The above query took 6.54s on my wolf with UNK (but high) bandwidth.

In [7]:
countries_resp

0     {'head': {'vars': ['subdivision', 'subdivision...
1     {'head': {'vars': ['subdivision', 'subdivision...
2     {'head': {'vars': ['subdivision', 'subdivision...
3     {'head': {'vars': ['subdivision', 'subdivision...
4     {'head': {'vars': ['subdivision', 'subdivision...
5     {'head': {'vars': ['subdivision', 'subdivision...
6     {'head': {'vars': ['subdivision', 'subdivision...
7     {'head': {'vars': ['subdivision', 'subdivision...
8     {'head': {'vars': ['subdivision', 'subdivision...
9     {'head': {'vars': ['subdivision', 'subdivision...
10    {'head': {'vars': ['subdivision', 'subdivision...
11    {'head': {'vars': ['subdivision', 'subdivision...
12    {'head': {'vars': ['subdivision', 'subdivision...
13    {'head': {'vars': ['subdivision', 'subdivision...
14    {'head': {'vars': ['subdivision', 'subdivision...
15    {'head': {'vars': ['subdivision', 'subdivision...
16    {'head': {'vars': ['subdivision', 'subdivision...
17    {'head': {'vars': ['subdivision', 'subdivision...
18    {'head': {'vars': ['subdivision', 'subdivision...
19    {'head': {'vars': ['subdivision', 'subdivision...
Name: country_identifier, dtype: object

In [8]:
%%time
countries_resp.apply(fs.to_df)

CPU times: user 27.3 ms, sys: 3.02 ms, total: 30.3 ms
Wall time: 29.2 ms

0                                    subdivision    ...
1                                     subdivision   ...
2                                      subdivision  ...
3                                    subdivision  su...
4                                    subdivision    ...
5                                       subdivision ...
6                                     subdivision   ...
7                                  subdivision      ...
8                                    subdivision    ...
9                                  subdivision      ...
10                                   subdivision    ...
11                                  subdivision    s...
12                                 subdivision      ...
13                                  subdivision     ...
14                                 subdivision      ...
15                                     subdivision  ...
16                                    subdivision   ...
17                                   subdivision  su...
18                                   subdivision    ...
19                                  subdivision     ...
Name: country_identifier, dtype: object

The above cell took 14.1ms on my localmachine, running on WSL2, with i5-12450H and 16GB DDR5 Memory.


The above cell took 29.2ms on wolf with Intel(R) Xeon(R) CPU E5-1650 v3 @ 3.50GHz and 128GB Memory.